{% extends "bootstrap/base.html" %}
{% block title %}{% block maintitle %}{% endblock %} - TIL{% endblock %}

{% block navbar %}
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                              data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/today">Today</a></li>
          <li><a href="/submit">Submit</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <a href="/" style="text-decoration:none"><h1>TIL <small>Today I Learned</small></h1></a>
    </div>

    {% block maincontent %}

    {% endblock %}

  </div>
{% endblock %}
