{% extends "base.html" %}
{% block maintitle %}Today{% endblock %}
{% block maincontent %}
  <h3>What people have learnt...</h3>
  <ul class="list-group">
    {% for item in data %}
    <li class="list-group-item">
      <blockquote>
        <p class="lead">"{{ item['value']['text'] }}"</p>
      </blockquote>
      <p class="text-right">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <small>{{ item['value']['nick'] }}</small><br>
        {% if item['value']['time'] %}
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          <small><a href="/til/{{ item['value']['id'] }}">{{ item['value']['time'] }}</a></small>
        {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
  <nav>
    <ul class="pager">
      <li class="previous"><a href="/today/{{ page }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      <li class="next {% if (page <= 2) %}disabled{% endif %}"><a href="{% if (page <= 2) %}#{% else %}/today/{{ page-2 }}{% endif %}">Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
{% endblock %}
