{% extends "base.html" %}
{% block maintitle %}Submit{% endblock %}
{% block maincontent %}
  <h3>Share your TIL:</h3>
  <form action="" method="POST">
    {{ form.csrf_token }}
    <div class="input-group {% if form.til_text.errors %} has-error {% endif %}">
      {{ form.til_text.label(class="input-group-addon") }}
      {{ form.til_text(placeholder="What did you learn?",
      class="form-control") }}
    </div>
    <br>
    <div class="input-group">
      {{ form.til_nick.label(class="input-group-addon") }}
      {{ form.til_nick(placeholder="nick (optional)",
      class="form-control") }}
    </div>
    <br>
    {% if not form.test %}
      <div>
        {% for error in form.recaptcha.errors %}
          {{ error }}
        {% endfor %}
        {{ form.recaptcha }}
      </div>
      <br>
    {% endif %}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
