{% extends "base.html" %}
{% block maintitle %}Submit{% endblock %}
{% block maincontent %}
  <h3>Share your TIL:</h3>
  <form action="" method="POST">
    {{ form.csrf_token }}
    <div class="input-group {% if form.tilText.errors %} has-error {% endif %}">
      {{ form.tilText.label(class="input-group-addon") }}
      {{ form.tilText(placeholder="What did you learn?",
      class="form-control") }}
    </div>
    <br>
    <div class="input-group">
      {{ form.tilNick.label(class="input-group-addon") }}
      {{ form.tilNick(placeholder="nick (optional)",
      class="form-control") }}
    </div>
    <br>
    <div>
      {% if not form.test %}
        {% for error in form.recaptcha.error %}
          {{ error }}
        {% endfor %}
        {{ form.recaptcha }}
      {% endif %}
    </div>
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
