.createTIL {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ff004c;
  position: fixed;
  float: right;
  right: 25px;
  bottom: 60px;
  z-index: 999;
  color: white;
  font: 32px Arial, sans-serif;
  box-shadow: 2px 2px 2px black;
}

.createTIL a {
  color: white;
  text-decoration: none;
}

.circleTextArea {
  position: absolute;
  height: 50%;
  width: 50%;
}

.circleText {
  position: absolute;
  right: -9px;
  top: 7px;
}

a {
  text-decoration: none;
}
